/* .newpin form {
  padding-bottom: 15px;
}

.newpin .first-line{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.newpin form textarea {
  height: 150px;
  font-size: 24px;
}

.newpin label[for="board"] {
  display: block;
}

.newpin .action-buttons {
  display: flex;
  justify-content: flex-end;
}

.newpin .cancel-button {
  margin: 0 20px;
}

.newpin .thumb {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.newpin .thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} */