.scheduled-pin-list-item {
  display: flex;
  align-items: center;
  position: relative;
}

.scheduled-pin-edit-link {
  width: 100%;
  border-top-right-radius: 0px;
}

.schedule-pin-post-now-button {
  border-radius: 0px;
  border-left: none;
  margin-bottom: -1px;
  padding: 26px 12px;
}

.list-group-item-text .thumb {
  position: absolute;
  right: 20px;
  top: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-height: 60px;
}
