.NavigationBar .navbar-brand {
    font-weight: bold;
}

.NavigationBar .profile-email::before {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    content: "";
    margin-right: 7px;
    position: relative;
    top: 1px;
}

.NavigationBar .connected::before {
    background-color: green;
}

.NavigationBar .disconnected::before {
    background-color: red;
}